/*****************************************************************************/
/* Global CSS Styles */
/*****************************************************************************/

@import 'packages/less-bootstrap-3/lib/less/bootstrap.import.less';
@import 'packages/font-awesome-4-less/font-awesome.import.less';
@import url(http://fonts.googleapis.com/css?family=Lobster|Open+Sans:400,800|Open+Sans+Condensed:300|Sansita+One);

@font-face {
    font-family: 'Bariol';
    src: url('/fonts/bariol/bariol_regular-webfont.eot');
    src: url('/fonts/bariol/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/bariol/bariol_regular-webfont.woff') format('woff'),
         url('/fonts/bariol/bariol_regular-webfont.ttf') format('truetype'),
         url('/fonts/bariol/bariol_regular-webfont.svg#BariolRegularRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chunkfiveroman';
    src: url('/fonts/chunkfive/chunkfive-webfont.eot');
    src: url('/fontss/chunkfive/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/chunkfive/chunkfive-webfont.woff') format('woff'),
         url('/fonts/chunkfive/chunkfive-webfont.ttf') format('truetype'),
         url('/fonts/chunkfive/chunkfive-webfont.svg#chunkfiveroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*
font-family: 'Lobster', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
*/

.bs-callout{
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
  background-color: #fdf7f7;
  border-color: #d9534f;
  box-sizing: border-box;

  h4 {
    color: #d9534f;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
    text-decoration: none;
  }
}

.bs-callout:hover {
  color: #F2F2F2;
}

a:hover {
    text-decoration: none;
}