/*****************************************************************************/
/* AreasIndex: Style */
/*****************************************************************************/

.well {
  max-width: 400px;
  margin: 0 auto 10px;

  button {
    padding: 10px;
    margin: 5px;
  }
}

#well-nav {
  background: #37253C;
}