.invite-widget{
  display: block;
  float: right;
  width: 140px;
  text-align: center;
  color: hsl(0, 0%, 20%);

  .invite-status{
    padding: 0px;
    margin: 0px;

    &.invite-active{
      background: hsl(120, 39%, 54%);
    }

    &.invite-soon{
      background: hsl(208, 56%, 53%);
    }

  }

  .invite-times{
    background: rgb(236, 240, 241);
  }

  span {

  }
}