<template name="Invite">
  {{#contentFor region="breadcrumbs"}}
  <div class="no-pad">
    <ol class="breadcrumb">
      <li>
        <a href="{{pathFor 'home'}}">Home</a>
      </li>
      <li>
        <a href="{{pathFor 'areas.index'}}">Areas</a>
      </li>
      <li>
        <a href="{{pathFor 'area'}}">{{venue_area}}</a>
      </li>
      <li>
        <a href="{{pathFor 'venue.detail'}}">{{venue_name}}</a>
      </li>
      <li class="active">
        {{title.brief}}
      </li>
    </ol>
  </div>
  {{/contentFor}}
<div class="page-intro">
  <div class="container">
    <h1 class="page-head">{{venue_name}}</h1>
    <p>{{title.brief}}</p>
  </div>
</div>
<div class="container">
  <h2>{{title.full}}</h2>
  <p>Category: {{category}}</p>
  <p>Starts: {{valid.startDate}}</p>
  <p>Ends: {{valid.endDate}}</p>
  <p>{{description}}</p>
  <div class="validTiming">
    <ul>
      <li><b>valid now? true/false</b></li>
      <li>days of week valid over the next 7 days</li>
      <li>time of day</li>
      <li>when is the next offer</li>
      <li>recurring? true/false</li>
      <li>Quota: {{quota}}</li>
    </ul>
  </div>
  Invitation _id: {{invitations._id}}<br>
  <a href="{{pathFor 'edit.invite' this}}">Edit Invitation</a>
</div>
</template>
