<template name="Invite">
  {{#contentFor region="breadcrumbs"}}
  <div class="no-pad">
    <ol class="breadcrumb">
      <li>
        <a href="{{pathFor 'home'}}">Home</a>
      </li>
      <li>
        <a href="{{pathFor 'areas.index'}}">Areas</a>
      </li>
      <li>
        <a href="{{pathFor 'area'}}">{{venue_area}}</a>
      </li>
      <li>
        <a href="{{pathFor 'venue.detail'}}">{{venue_name}}</a>
      </li>
      <li class="active">
        {{title.brief}}
      </li>
    </ol>
  </div>
  {{/contentFor}}
<div class="page-intro">
  <div class="container">
    <h1 class="page-head">{{venue_name}}</h1>
    <p>{{title.brief}}</p>
  </div>
</div>
<div class="container">

<table cellpadding="0" class="cf aU9">
  <tbody>
  <tr>
    <td class="aRi {{inviteWidget.style}}">
      <div class="aU5">
        <span class="aRh">Jul</span>
        <span class="aRg">26</span>
        <span class="aRj">Sat</span>
      </div>
      {{> InviteWidget inviteWidget}}
    </td>
    <td style="width:52%" class="aU4">
      <div class="aRo">{{title.full}}</div>
      <div class="aRn">
        <a class="e" href="{{pathFor 'venue.detail'}}">@{{venue_name}}</a>
      </div>
      <div class="aU6">
        {{description}}
      </div>
      <table class="cf aU2">
        <tbody>
          <tr>
            <td class="aRk">Type</td>
            <td id=":1za" class="aU6">{{category}} / {{invite_type}}</td>
          </tr>
          <tr>
            <td class="aRk">When</td>
            <td id=":25j" class="aU6">{{starts}} - {{inviteWidget.start}} to {{inviteWidget.end}}</td>
          </tr>
        </tbody>
      </table>
    </td>
    <td class="aRc">
      <div class="aQ3">
        <div class="aRo">Location</div>
        <div class="aRn">{{venue.location.formatted_address}}</div>
        <table id=":1zb" class="cf aU2" style="table-layout:auto">
          <tbody>
            <tr class="aU0">
              <td class="aQ5" colspan="2"><i>No earlier events</i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </td>
  </tr>
</tbody>
</table>

  <div class="col-sm-12">

    {{> WeekForecast validNextSevenDays}}

  </div>


</div>
</template>
