<template name="Invite">
  {{#contentFor region="breadcrumbs"}}
  <div class="no-pad">
    <ol class="breadcrumb">
      <li>
        <a href="{{pathFor 'home'}}">Home</a>
      </li>
      <li>
        <a href="{{pathFor 'areas.index'}}">Areas</a>
      </li>
      <li>
        <a href="{{pathFor 'area'}}">{{venue_area}}</a>
      </li>
      <li>
        <a href="{{pathFor 'venue.detail'}}">{{venue_name}}</a>
      </li>
      <li class="active">
        {{title.brief}}
      </li>
    </ol>
  </div>
  {{/contentFor}}
<div class="page-intro">
  <div class="container">
    <h1 class="page-head">{{venue_name}}</h1>
    <p>{{title.brief}}</p>
  </div>
</div>
<div class="container">
  <div class="col-sm-12">
    <h2>{{title.full}}</h2>
    {{> InviteWidget inviteWidget}}
    <p>{{description}}</p>
    <span>
      <button class="btn btn-default btn-sm">Starts: {{starts}}</button>
      <button class="btn btn-default btn-sm">Ends: {{ends}}</button>
    </span>
    <div class="validTiming">
      <ul>
        <li>Category: {{category}}</li>
        <li>Invite Type: {{invite_type}}</li>
        <li>Quota: {{quota}}</li>
        <li>Ivite id: {{_id}}</li>
        <li><a href="{{pathFor 'edit.invite' this}}">Edit Invitation</a>
</li>
      </ul>
    </div>
    {{> WeekForecast validNextSevenDays}}

  </div>
</div>
</template>
