/*****************************************************************************/
/* Invite: Style */
/*****************************************************************************/

.pagination-inverse ul {
  background-color: #34495e;
}
.pagination ul {
  background: #d6dbdf;
  color: #ffffff;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.pagination {
  position: relative;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 10px 0;
}

.pagination-inverse ul {
  background-color: #34495e;
}

.pagination ul li {
  display: inline-block;
  vertical-align: middle;
}

.pagination-inverse ul li > a, .pagination-inverse ul li > span {
  border-left-color: #798795;
}

.pagination-inverse ul li > a:hover, .pagination-inverse ul li > span:hover, .pagination-inverse ul li > a:focus, .pagination-inverse ul li > span:focus {
  background-color: #415b76;
}

.pagination ul li > a, .pagination ul li > span {
  display: inline-block;
  background: transparent;
  border: none;
  border-left: 0px solid #e4e7ea;
  color: #ffffff;
  font-size: 12px;
  line-height: 12px;
  min-height: 30px;
  min-width: 30px;
  outline: none;
  padding: 10px 10px;
  text-align: center;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}