/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/

body{
  padding-top: 50px;
}

.starter-template{
  padding: 40px;
  text-align: center;
  opacity: 1;
}


.applicationFooter{
  border-collapse: collapse;
  display: table;
  overflow: hidden;
  width: 100%;
  color: #ffffff;
  position: relative;
  font-size: 16px;
  line-height: 22px;



  .footer-row {
    display: table-row;
    overflow: hidden;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;

    a.inverse{
      color: #ffffff;
    }

    .subtitle{
    font-weight: 600;
    text-transform: uppercase;
    color: #999999;
    margin-bottom: .5rem;
  }


    .about {
      display: table-cell;
      vertical-align: top;
      width: 50%;
      height: 100%;

      background: #333;
      padding: 2em 5.5%;
      font-size: 16px;
      line-height: 22px;

      font-weight: 400;

    }




    .links {
      display: table-cell;
      vertical-align: top;
      width: 50%;
      height: 100%;
      overflow: hidden;
      background: #444444;
      padding: 2em 5.5%;

      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      -webkit-tap-highlight-color: transparent;

      .docs{
        margin-bottom: 1em;
        float: left;
        width: 60%;

        .list-vertical{
          margin-bottom: 1em;
          margin-top: .5em;
          overflow: hidden;
          box-sizing: border-box;
          font-size: 13px;
          line-height: 22px;

          font-weight: 600;
          margin-top: 0;
          display: block;



            dl {
              display: block;
              -webkit-margin-before: 1em;
              -webkit-margin-after: 1em;
              -webkit-margin-start: 0px;
              -webkit-margin-end: 0px;

              .stats {
                text-align: right;
                float: right;
                width: 40%;
                padding-left: 0;

                font-weight: normal;
                font-style: normal;
                font-size: 100%;
                line-height: 1;
                font-family: inherit;
              }

              dt {
                font-weight: 600;
                text-transform: uppercase;
                color: #999999;
                margin-bottom: .5rem;
                display: inline-block;
                white-space: nowrap;
                font-size: 16px;
                line-height: 22px;
              }
            }
        }


      }
    }

  }

  .desc {
    font-size: 20px;
    line-height: 24px;

    color: #ffffff;
    font-weight: 300;
    margin-bottom: 1em;

  }

}