<template name="Home">
  <div class="container">

    <div class="wrapper">
      <div class="starter-template">
        <h1>Discover your new favourite venue</h1>
        <p class="lead">the express matchmaking service for patrons to discover venues <br>
        offering unique offers and experiences.</p>
        <a href="{{pathFor 'areas.index'}}">
          <button class="btn btn-info btn-lg">Let's Go</button>
        </a>

      </div>
      <div class="push"></div>
    </div>
  </div><!-- /.container -->


<footer class="applicationFooter">
  <div class="footer-row">
    <section class="about">
      <div class="subtitle">
        About
      </div>
      <div class="desc">
        walkin.to is a online platform that invites patrons to discover great venues.
      </div>
    </section>
    <section class="links">
      <div class="docs">
        <div class="subtitle">
          Learn More
        </div>
        <div class="list-vertical">
          <a href="#" class="inverse">Get Started with walkin.to</a>
          <a href="#" class="inverse">Get Started with walkin.to</a>
          <a href="#" class="inverse">Get Started with walkin.to</a>

        </div>
      </div>
      <dl class="stats">
        <dt>Venues</dt>
        <dd>6</dd>
      </dl>
    </section>
  </div>
</footer>
</template>


<template name="quickForm_nothing">
</template>