<template name="Area">
  {{#contentFor region="breadcrumbs"}}
  <div class="no-pad">
    <ol class="breadcrumb">
      <li>
        <a href="{{pathFor 'home'}}">Home</a>
      </li>
      <li>
        <a href="{{pathFor 'areas.index'}}">Areas</a>
      </li>
      <li class="active">
        {{location}}
      </li>
    </ol>
  </div>
  {{/contentFor}}

<div class="container">
  <div class="col-sm-12">
    <div class="row">
      <h2>{{location}}</h2>
    </div>
    <div class="row">
      {{#each venues}}
        <h4><a href="{{pathFor 'venue.detail' venues}}">{{venue_name}}</a></h4>
      {{/each}}
    </div>
  </div>
</div>
</template>
