<template name="CreateVenue">

<div class="container">
  <div class="col-sm-10">
    <div class="row">
      <h2>Add a venue</h2>
      
        {{#autoForm id="venuesCreateForm" type="insert" collection="Venues" doc=venuesDoc}}
          <div class="panel-body">
            <!--{{> afQuickField id="fmVenueName" name='venue_name' style="color: orange" label-style="color: grey" class="input-lg"}} -->
            <input type="text" id ="fmVenueName">
            <!--{{> afQuickField id="fmLocationFormattedAddress" name='location.formatted_address' style="color: orange" label-style="color: grey" class="input-lg" }}-->
          </div>
        {{/autoForm}}
    </div>
    <div class="row">
      <button class="btn btn-lg afBtn">AutoForm</button>
    </div>
</div>
  <div class="col-sm-10 autoform" style="display: none">
    <h1>AutoForm:Create a new venue</h1>
      {{> quickForm collection="Venues" id="CreateVenue" type="insert" omitFields="updated_at, created_at"}}
  </div>
</div>
</template>
