<template name="Admin">
<div class="col-md-6 offset-col-md-3">
  <div class="well">
    <a href="">
        <button type="button" class="btn btn-default btn-lg btn-block">
          Add venue
        </button>
    </a>
    <a href="">
        <button type="button" class="btn btn-default btn-lg btn-block">
          View users
        </button>
    </a>
    <a href="">
        <button type="button" class="btn btn-default btn-lg btn-block">
          Track invites
        </button>
    </a>
    <a href="{{pathFor 'manage.venues'}}">
        <button type="button" class="btn btn-default btn-lg btn-block">
          Manage venues
        </button>
    </a>
  </div>
</div>
</template>
