<template name="ViewInvitations">
<div class="page-intro">
  <div class="container">
    <h1 class="page-head">{{this.venue_name}}</h1>
    <p>Invitation manager. Add, edit and remove invitations for a Venue.</p>
  </div>
</div>
<div class="container">

<div class="manage-invites">
  <a href="{{pathFor 'venue.detail'}}"><button type="button" class="resetAllBtn btn btn-default">Venue Home</button></a>
  <button type="button" class="resetAllBtn btn btn-default" href="#">Hide Forms</button>
  <button class="btn btn-default" data-toggle="modal" data-target="#myModal">
  Create new invitation
</button>
<!--  <span id="insertForm" class="resetAll" style="display: none">
    {{> CreateInvitation}}
  </span>
  -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create new invitation for {{this.venue_name}}</h4>
      </div>
      <div class="modal-body">
       {{> CreateInvitation}}
      </div>
    </div>
  </div>
</div>
</div>

{{#each invitations}}

<div class="invite-summary clearfix">
  <div class="invite-order {{rankOrder}}">
    #{{this.rank}}
  </div>
  <div class="invite-details">
    <h4>{{title.full}}</h4>
    <ul class="list-inline detail-list">
      <li>Type: {{invite_type}}</li>
      <li>Category: {{category}}</li>
      <li>Starts at: {{timeFrom}}</li>
      <li>Finishes at: {{timeTo}}</li>
    </ul>
    <div class="modify-invite">
      <button href="#" class="edit modBtn btn btn-link btn-xs">edit</button>
      {{#afDeleteButton class="modBtn" collection="Invitations" doc=editingDoc}}remove{{/afDeleteButton}}
    </div>
  </div>
</div>

  <div class="edit-form resetAll" id="{{_id}}" style="display: none">
    <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Invite: {{title.full}}</h3>
    </div>
      {{#autoForm id="invitesEditForm" type="update" collection="Invitations" doc=editingDoc}}
        <div class="panel-body">
            {{> afQuickField name='title.full' style="color: orange" label-style="color: grey" class="input-lg"}}
            {{> afQuickField name='title.brief' style="color: orange" label-style="color: grey" class="input-lg"}}
            {{> afQuickField name="description" rows="5"}}
            {{> afQuickField name="active" radio="true" trueLabel="Yes" falseLabel="No"}}
            {{> afQuickField name="invite_type" options="allowed"}}
            {{> afQuickField name="category" options="allowed"}}
            {{> afFieldLabel name="valid.timeFrom"}}
            {{> afFieldInput name="valid.timeFrom" options=timeOptions}}
            {{> afFieldLabel name="valid.timeTo"}}
            {{> afFieldInput name="valid.timeTo" options=timeOptions}}

            {{> afFieldLabel name="valid.startDate"}}
            {{> afFieldInput name="valid.startDate"}}
            {{> afFieldLabel name="valid.endDate"}}
            {{> afFieldInput name="valid.endDate"}}

            {{> afQuickField name="valid.days"}}

        </div>
        <div class="panel-footer">
          <button type="submit" class="btn btn-primary">Update</button>
    </div>
    {{/autoForm}}
  </div>
  </div>

{{/each}}

</div>

</template>
