/*****************************************************************************/
/* ViewInvitations: Style */
/*****************************************************************************/

.invite-summary{
  padding: 0 0 10px;


  p, h4 {
    margin: 0 0 0px;
  }

  p{
    text-color: red;
  }
}

.manage-invites{
  margin: 0 0 30px;
}

.modify-invite{
  .modBtn {
    float: left;
    margin: 0px;
    padding: 0px;
    line-height: 1.8em;
  }
}

#insertForm {
  float: right;
  width: 400px;
  padding: 10px;
}