/*****************************************************************************/
/* VenueDetail: Style */
/*****************************************************************************/

address {
}

.description {

}

.invite-order{
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 21px;
  border-radius: 25px;

  margin: 0 auto 10px;
  font-weight: bold;
  color: white;

  &.inactive{
    background: #595f6b;
  }

  &.valid {
    background: #475E80;
  }

  text-align: center;
  float: left;
}

address {
  margin-top: 10px;
}

.time-badge{
  float: right;
  margin-right: 2px 0 10px 0;
}

.invite-summary:hover{
  background: #F2F2F2;
  border-radius: 6px;
}
.invite-summary{
  padding: 15px;
}

.main-image {

  margin-top: -222px;
  left: 0px;
  height: 340px;
  margin-bottom: 30px;

  img {
    background: repeat-x;
    width: 100%;
  }
}
.main-content {
  background: ffffff;
}

.latestUsers{
  list-style: none;
  margin: 5px 0 10px 0;
  padding: 0px 0 0 0;

  li{
    font-weight: 250;
    font-size: 12px;
    padding: 0px 0 2px 0;
  }

  li:hover{
    background: hsla(0, 0%, 95%, 90%);
  }

  li:first-child{
    margin: 10px 0 0 0;
    font-size: 16px;
    font-weight: 400px;
  }
  li:first-child:hover{
    background: none;
  }
}