<template name="VenueDetail">
  {{#contentFor region="breadcrumbs"}}
    <div class="no-pad">
      <ol class="breadcrumb">
        <li>
          <a href="{{pathFor 'home'}}">Home</a>
        </li>
        <li>
          <a href="{{pathFor 'areas.index'}}">Areas</a>
        </li>
        <li>
          <a href="{{pathFor 'area'}}">{{location.venue_area}}</a>
        </li>
        <li class="active">
          {{venue_name}}
        </li>
      </ol>
    </div>
  {{/contentFor}}
<div class="page-intro">
  <div class="container">
    <h1 class="page-head">{{venue_name}}</h1>
    <p>{{profile.tag}}</p>
  </div>
</div>

{{#if this.main_image.url}}
<div class="main-image">
  <img src="{{main_image.url}}/{{main_image.convert}}" class="img-respnsive" alt="image"/>
</div>
{{/if}}

<div class="container">
  <div class="row main-content">
    <div class="col-sm-9">
      <div class="description">
        <p class="lead">{{profile.description}}</p>
        <button class="btn btn-success btn-sm">{{followersCount}} Followers</button>
        {{> FollowVenue}}
      </div>
        {{#each invitations}}
        <div class="invite-summary">
          <div class="invite-order {{rankOrder}}">
            #{{this.rank}}
          </div>
          <div class="invite-details clearfix">
            <h4><a href="{{pathFor 'invite' this}}">{{title.full}}</a></h4>
            <span class="label label-success time-badge">
                From {{timeFrom}} <br>to {{timeTo}}
            </span>
            <p>{{_id}}</p>
          </div>
        </div>
        {{/each}}

    </div>
    <div class="col-sm-3">
      <img src="{{this.images_logo}}/convert?w=160" class="my-image" alt="image" />
      <sidebar>
        <address>
          <strong>{{venue_name}}</strong><br>
          {{location.formatted_address}}<br>
          <abbr title="Phone">P:</abbr> {{contact.phone}}
        </address>
        <ul class="latestUsers">
          <li>Latest Followers:</li>
          {{#each follows}}
            <li><b>{{username}}</b> ({{shortTimeFormat created_at}})</li>
          {{/each }}
        </ul>

      </sidebar>
      {{#if currentUser}}
        <p><b>Administrator access:</b></p>
          <button class="btn btn-default btn-block">Dashboard</button>
          <a href="{{pathFor 'view.invitations' params=this}}"><button class="btn btn-default btn-block">Manage Invites</button></a>
          <a href="{{pathFor 'edit.venue' params=this}}"><button class="btn btn-default btn-block">Edit Profile</button></a>
      {{/if}}
    {{#each images}}
      <img src="{{this.url}}/convert?w=160&fit=clip" class="img-thumbnail">
    {{/each}}
    </div>
  </div>


</div>
</template>
