<template name="VenueDetail">
  {{#contentFor region="breadcrumbs"}}
  <div class="no-pad">
    <ol class="breadcrumb text-center">
      <li>
        <a href="{{pathFor 'home'}}">Home</a>
      </li>
      <li>
        <a href="{{pathFor 'areas.index'}}">Areas</a>
      </li>
      <li>
        <a href="{{pathFor 'area'}}">{{location.location}}</a>
      </li>
      <li class="active">
        {{venue_name}}
      </li>
    </ol>
  </div>
  {{/contentFor}}
<div class="page-intro">
  <div class="container">
    <h1 class="page-head">{{venue_name}}</h1>
    <p>{{profile.tag}}</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <div class="description">
        <p class="lead">{{profile.description}}</p>
      </div>

        {{#each invitations}}

        <div class="invite-summary">
          <div class="invite-order {{rankOrder}}">
            #{{this.rank}}
          </div>
          <div class="invite-details clearfix">
            <h4>{{title.full}}</h4>
            <p>view more</p>
          </div>
        </div>
        {{/each}}

    </div>
    <div class="col-sm-3">
      {{#if currentUser}}
        <p><b>Administrator access:</b></p>
          <button class="btn btn-default btn-block">Dashboard</button>
          <a href="{{pathFor 'view.invitations' params=this}}"><button class="btn btn-default btn-block">Manage Invites</button></a>
          <a href="{{pathFor 'edit.venue' params=this}}"><button class="btn btn-default btn-block">Edit Profile</button></a>
      {{/if}}
      <sidebar>
        <address>
          <strong>{{venue_name}}</strong><br>
          {{location.address}}<br>
          {{location.location}}, {{location.city}}<br>
          <abbr title="Phone">P:</abbr> {{contact.phone}}
        </address>
      </sidebar>
    </div>
  </div>


</div>
</template>
