<template name="ManageVenues">

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Invitations</th>
      </tr>
    </thead>
    <tbody>
      {{#each venues}}
        <tr>
          <td><a href="{{pathFor 'edit.venue'}}">{{venue_name}}</a></td>
          <td>{{location.location}}</td>
          <td>{{created_at_formatted}}</td>
          <td>{{updated_at_formatted}}</td>
          <td>{{invites_count}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

</template>
