<template name="Profile">
<div class="container">
  <div>
    <h3>Hello {{username}},</h3>
    <h4>Venues followed:</h4>
    {{#if userFollowing}}
      {{#each userFollowing}}
        <p><a href="{{pathFor 'venue.detail' userFollowing}}">{{venue_name}}</a></p>
      {{/each}}
    {{else}}
      <p><em>You are currnetly not following any venues. <br>
      Start following venues to easily track your favourite venues.</em></p>
    {{/if}}
    <h4>Walkins:</h4>
    <h4>Comments:</h4>
  </div>
</div>
</template>
