<template name="_ActivityItem">
  <div class="col-sm-12">

    <div class="palette-item invite {{selectedClass}}">
      <div class="infoBox">
        <dl>
          <dt>Expiring</dt>
          <dd>{{inviteToExpiry}}</dd>
        </dl>
      </div>
      <div class="palette palette-wet-asphalt">
        <span class="title">{{title.brief}}</span>
        <i class="fa fa-cutlery"></i>
        <i class="fa fa-beer"></i>
        <i class="fa fa-coffee"></i>
        <br>
        <span class="venue"><a href="{{pathFor 'venue.detail'}}">{{venue_name}}</a></span>,
        <span class="subTitle">{{venue_area}}</span>
      </div>
    <dl class="panelDetails palette palette-midnight-blue" id="showPanel-{{_id}}" style="display: none">
      <dt>
        <span class="title">{{title.full}}</span>
        <span class="invite-type">{{category}}</span>
      </dt>
      <dd>{{description}}</dd>
      <dd>Starts: {{inviteStartsAt}}</dd>
      <dd>Ends: {{inviteEndsAt}}</dd>
    </dl>
  </div>
</div>
</template>