/*****************************************************************************/
/* REVISED STYLE
/*****************************************************************************/























/*****************************************************************************/
/* Activity: Style */
/*****************************************************************************/

.selected {
  background-color: #dddddd;
}


  btn.btn-outline:hover, btn.btn-outline:focus, btn.btn-outline:active {
    border-color: #D8D8D8;
  }

  btn.btn-outline.selectedGroup{
    color: #fff;
    background-color: #563d7c;
    border-color: #563d7c;
  }

.buttonGroup{
  margin: 0 0 10px 0;
}

btn.btn-outline {
  color: #563d7c;
  background-color: transparent;
  border-color: #563d7c;
  border: 1px solid;
  vertical-align: middle;
}
.btn-lg, .btn-group-lg>.btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  vertical-align: middle;
}

.invite{
  margin: 0px 0px 15px 0px;
}

.inviteBtn{
  float: right;
  padding: 5px;
  margin: 20px 15px 0px 15px;
}

.palette-item {

}

.palette {
  font-size: 14px;
  line-height: 1.214;
  color: #34495E;
  margin: 0 0px 0px 0;
  padding: 15px;
}

.palette .subTitle {
  font-weight: 300;
  margin-left: 0;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-font-smoothing: subpixel-antialiased;
}

.palette .title {
  font-weight: 600;
  margin-left: 0;
  font-size: 18px;
}

.palette .venue {
    text-transform: uppercase;
}

.palette-wet-asphalt:hover, .palette-wet-asphalt:focus, .palette-wet-asphalt:active {
  background-color: darken(hsl(220, 20%, 94%), 3%);
}

.palette-wet-asphalt {
  background-color: hsl(220, 10%, 94%);
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
}

.palette-midnight-blue, .palette-midnight-blue, .palette-midnight-blue {
  background-color: #BDC3C7;
  color: #FFFFFF;
}


.infoBox {
  font-size: 14px;
  line-height: 1.214;
  margin-top: 0px;
  padding: 15px 5px 0px 5px;
  text-align: center;
  text-transform: lowercase;
  float:right;
  width: 100px;
  border: 0px;
  height: 100%;
  opacity: 0.5;
  filter: alpha(opacity=50);

}

.infoBox dt {
  font-weight: 200;
  text-transform: uppercase;
  margin-left: 0;
  opacity: 0.9;
  filter: alpha(opacity=90);
  -webkit-font-smoothing: subpixel-antialiased;
}
.infoBox dd {
  font-weight: 800;
}

.invite-type {
  text-transform: uppercase;
  font-weight: 200;
}

i.fa {
  padding: 6px;
  color: #475E80;
  background: white;
  opacity: 0.8;
  margin: 2px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
