<template name="Activity">
<div class="page-intro">
  <div class="container">
    <h1 class="page-head">What's on</h1>
    <p><b>Walkin</b>to great offers in Hong Kong</p>
  </div>
</div>

<div class="container">
  <div class="col-sm-12">

    <div class="row buttonGroup">
      <btn class="btn btn-outline btn-lg selectedGroup" value="activeNow">Now</btn>
      <btn class="btn btn-outline btn-lg" value="activeSoon">Later today</btn>
      <btn class="btn btn-outline btn-lg" value="activeGone">Expired</btn>
    </div>
  </div>

    <div class="row showTab" id="activeNow" style="">

    {{#each invitesActiveNow}}
      {{> InviteMedium this}}
    {{/each}}

    </div>

    <div class="row showTab" id="activeSoon" style="display: none">
      {{#each invitesActiveSoon}}
        {{> InviteMedium this}}
      {{/each}}
    </div>

    <div class="row showTab" id="activeGone" style="display: none">
      {{#each invitesExpired}}
        {{> InviteMedium this}}
      {{/each}}
    </div>

</div>
</template>
